.about-card {
    overflow: hidden;
}

.about-banner-container {
    border-bottom: 1px solid var(--color-outline);
    min-height: 60px;
    max-height: 200px;
    overflow: hidden;
}

.about-banner {
    width: 100%;
    height: auto;
}

.subreddit-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing1) var(--spacing2) var(--spacing2);
}

.about-card .avatar-container {
    min-width: 48px;
}

.subreddit-avatar.main {
    color: var(--color-details);
    width: 48px;
    height: 48px;
    margin: 0 var(--spacing1) 0 0;
}

.subreddit-details {
    width: calc(100% - 2*var(--spacing2) - 48px - var(--spacing1));
}

.subreddit-users {
    font-size: var(--font-size4);
    color: var(--color-details);
    display: flex;
    flex-direction: row;
}

.subreddit-users span {
    margin: 0 var(--spacing1) var(--spacing0) 0;
    font-weight: 700;
}

.subreddit-titles .subreddit-name {
    color: var(--color-details);
    font-weight: 400;
    margin: 0 0 var(--spacing1) 0;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .subreddit-users {
        flex-direction: column;
    }
}