body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background: #fff0e5;
    padding: 8px;
    border-bottom: 1px solid black;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
  }
  
  nav > ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    display: inline;
    padding: 8px;
  }
  
  nav > ul > li > a {
    text-decoration: none;
  }
  
  .container {
    margin-top: 64px;
  }
  
  