/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-size: 16px;
  --spacing0: 4px;
  --spacing1: 8px;
  --spacing2: 16px;
  --spacing3: 24px;

  --radius1: 8px;
  --radius2: 16px;
  --radius3: 24px;
  --radius4: 32px;

  --font-size0: 1.75rem;
  --font-size1: 1.5rem;
  --font-size2: 1.125rem;
  --font-size3: 1rem;
  --font-size4: 0.875rem;

  --color-bg: #F0F4F8;
  --color-cards: #FFF;
  --color-text-main: #283040;
  --color-outline: #C7D6DB;
  --color-highlight: #307DA1;
  --color-details: #547680;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(200px,620px) minmax(120px,280px) 1fr;
    grid-template-rows: fit-content(100%) fit-content(100%) auto;
    gap: var(--spacing3);
  }
  
  h1 {
    font-size: var(--font-size0);
    font-weight: 700;
  }
  
  h2 {
    font-size: var(--font-size1);
    font-weight: 700;
    margin-bottom: var(--spacing1);
  }
  
  h3 {
    font-size: var(--font-size2);
    font-weight: 700;
    line-height: 1.5rem;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    line-height: 1.25rem;
  }
  
  input[placeholder] {
    font-family: inherit;
  }
  
  button {
    font-family: inherit;
    border: 0;
    padding: 0;
  }
  
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size2);
    color: var(--color-highlight);
    background: none;
    padding: var(--spacing1) var(--spacing2);
    border-radius: var(--radius4);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .nav-link.inverted {
    background: var(--color-highlight);
    color: var(--color-bg);
  }
  
  /* Media Query on Hover */
  @media (hover: hover) {
    .nav-link:hover {
      background: var(--color-bg);
      transition: 0.2s;
    }
  
    .nav-link.inverted:hover {
      background: var(--color-bg);
      color: var(--color-highlight);
    }
  }
  
  .nav-link.selected {
    background: var(--color-bg);
    transition: 0.2s;
  }
  
  .nav-link:active,
  .nav-link.inverted:active {
    background: var(--color-outline);
  }
  
  .nav-link> :first-child {
    width: 24px;
    height: 24px;
    margin-right: var(--spacing0);
  }


header {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr minmax(200px,620px) minmax(120px,280px) 1fr;
  gap: var(--spacing3);
}

nav {
  grid-column: 2/3;
}

main {
  grid-column: 2/3;
}

aside {
  grid-column: 3/4;
}

@media only screen and (max-width: 768px) {
  #app-container {
    grid-template-columns: 1fr;
    gap: var(--spacing2);
  }

  header {
    grid-template-columns: 1fr minmax(140px,100%) 1fr 1fr;
    gap: var(--spacing2);
  }

  aside {
    grid-column: 1;
    grid-row: 2;
    margin: 0 var(--spacing2);
  }

  main {
    grid-column: 1;
    grid-row: 3;
    margin: 0 var(--spacing2);
  }

  aside .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
