.post-loading {
    font-size: 20;
    line-height: 2;
    margin-bottom: var(--spacing3);
}

.skeleton-post-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar-skeleton {
    margin-right: var(--spacing0);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.avatar-skeleton > :first-child {
    display: flex;
}

.skeleton-main-post {
    padding: var(--spacing2);
}

.skeleton-comments-container {
    border-top: 1px solid var(--color-outline);
    padding: var(--spacing0) var(--spacing2);
}