Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: lightgrey;
}

button {
    background-color: #4CAF50;
    width: 100%;
    color: navajowhite;
    padding: 17px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

form, .centerContainer {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #f1f1f1;
}

input,
select {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.container {
    padding: 25px;
    background-color: lightblue;
}