<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Codey's Confectionaries</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div class="header">
      <h1>Codey's Confectioneries</h1>
    <nav>
      <ul>
        <li><a href="/">Order</a></li>
        <li><a href="/customer">Customer Info</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    </div>
    <div class="container"><%- body %></div>
  </body>
</html>
